@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Quicksand&display=swap');

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    background-color: #659157;
    color: #EEF4D4
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

h1 {
    color: #423E37;
}

h2 {
    color: #424B54;
    margin: 20px 0 10px 0;
}

h3 {
    color: #EEF4D4;
}

h3 > i {
    color: #F1A208;
}

hr {
    border-top: solid 2px #F1A208;
    width: 30%;
    margin: 20px auto;
}

/* Flexbox Styles */

.flex-col {
    display: flex;
    flex-direction: column;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#why-fly {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#why-fly-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact_form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

input {
    justify-content: flex-end;
    border: solid 1px black;
}

#contact h3 {
    text-align: center;
}

#social-networks {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-content: space-between;
}

footer div {
    width: 100%;
    background-color: grey
}

/* Header */

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #EEF4D4;
}

/* Header Image */

#main-image {
    overflow: hidden;
}

.responsive {
    width: 100%;
    height: auto;
}

/* Navigation Settings */

#links {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

#links a, #links a:visited {
    color: #424B54;
    padding: 2px;
    text-decoration: none;
}

#links a:hover {
    color: #F1A208;
}

.active {
    color: #F1A208;
}

.scroll {
    scroll-margin-top: 56px;
}

/* Who Are We? Section */

#about {

}

#about-image {
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border: .2em solid #F1A208;
}

.who {
    text-align: center;
    margin: 0 30px 15px 30px;
}

/* Why Fly? Section */

#why-fly {

}

#why-image {
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
    border: .2em solid #F1A208;
}

#left, #right {
    margin: 0 30px;
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.reasons {
    margin: 5px 0 15px 0;
    display:  flex;
    flex-direction: column;
}

/* Contact Form */

#contact {

}

/* Social Networks */
.fa-brands {
    color: #423E37;
    margin: 10px;
    font-size: 20px;
}

/* Responsive Styles */

@media screen and (min-width: 800px) { 
    #about-box {
        flex-direction: row;
    }
    #about-box > div, #about-box > p {
        display: flex;
        width: 33.3%;
        flex-basis: 0;
        flex-grow: 1;
    }
    #why-fly-box {
        flex-direction: row;
    }
    #why-fly-box > div {
        display: flex;
        justify-content: center;
        width: 33.3%;
    }
    #why-image, #about-image {
        width:200px;
        height: 200px;
    }
}

@media screen and (min-width: 1200px) { 
    #why-image, #about-image {
        width:300px;
        height: 300px;
    }
    body, #message {
        font-size: 150%;
    }
    .scroll {
        scroll-margin-top: 85px;
    }
}