@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Quicksand&display=swap');

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

/* Flexbox Styles */

.flex-col {
    display: flex;
    flex-direction: column;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#why-fly {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#why-fly-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact_form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    justify-content: flex-end;
    border: solid 1px black;
}

#contact h3 {
    text-align: center;
}

.social-networks {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-content: space-between;
}

footer div {
    width: 100%;
    background-color: grey
}

/* Header */

header {
background-color: #F18F01;
}

/* Header Image */

#main-image {
    overflow: hidden;
}

.responsive {
    width: 100%;
    height: auto;
  }

/* Navigation Settings */

#links {
    float:right;
}

#links li {
    list-style-type: none;
    display: inline;
}

/* Who Are We? Section */

#about {
    background-color: #19647E;
}

#about-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 20px;
}

.who {
    text-align: center;
    margin: 0 30px;
}

/* Why Fly? Section */

#why-image {
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

#left, #right {
    margin: 0 30px;
}

.reasons {
    margin: 15px 0 15px 0;
}

/* Social Networks */
.fa-brands {
    color: black;
}

/* Responsive Styles */

@media screen and (min-width: 800px) {
    #why-fly-box {
        flex-direction: row;
    }
    #why-fly-box div {
        width: 33.3%;
    }
}