@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Quicksand&display=swap');

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

/* Flexbox Styles */

.header-flex {
    display: flex;
    flex-direction: column;
}

.header-flex > h1 {
    background-color: aquamarine;
}

.header-flex > nav {
    background-color: blueviolet;
}

#main-image {
    display: flex;
    width: 100%;
    background-color: red;
}

#about {
    display: flex;
    flex-direction: row;
}

#about div {
    width: 33.3%;
    background-color: blue;
}

#why-fly {
    display: flex;
    flex-direction: row;
}

#why-fly div {
    width: 33.3%;
    background-color: pink;
}

#contact {
    display: flex;
    flex-direction: row;
}

#contact div {
    width: 100%;
    background-color: green;
}

footer {
    display: flex;
    flex-direction: row;
}

footer div {
    width: 100%;
    background-color: grey
}

/* Header Image */

/*#header-image {
    height: 200px;
    width: 100%;
    background: url('../images/PANO0001_stitch.jpg') no-repeat center center;
}
*/
#main-image {
    overflow: hidden;
}

.responsive {
    width: 100%;
    height: auto;
  }

/* Navigation Settings */

#links {
    float:right
}

#links li {
    list-style-type: none;
    display: inline;
}